/*----commem----*/
body{
	font-family: Microsoft JhengHei;
	background-color: #D9EDF7;
}

/*----login----*/
.indexTitle{
	margin-top:100px;
	font-weight:bold;
	font-size: 45px;
}

.loginDiv{
	margin-top:50px;
	padding-top:30px;
	padding-bottom:90px; 
	border-radius:10px;
	background-color: white;
	box-shadow:1px 1px 3px 3px #cccccc;
	width: 40%;
}

.loginFont{
	font-family: Verdana;
	margin-bottom:30px;
	font-size: 35px;
}

.inputField{
	font-size:20px;
}


/*----employee----*/

.background{
	margin-top:20px;
	margin-bottom:20px;
	padding-top:30px;
	padding-bottom:50px; 
	border-radius:10px;
	background-color: white;
	box-shadow:1px 1px 3px 3px #cccccc;
}

.titleRow{
	margin-top: 15px; 
}

.title{
	font-size:35px;
	font-weight:bold;
}

.subItem{
	padding-top: 15px;
	font-size:20px;
}

.subItem.signout{

}

.subItem.signout:hover{
	color:#65A0D2;
	cursor: pointer;
}

.searchRow{
	margin-top: 20px;
	font-size: 18px;
}

.monthTable {
	margin-top: 10px;
	border-collapse: collapse;
    width: 80%;
}

.monthTd {
	font-family: Verdana, Microsoft JhengHei;
	width: 25%;
	border: 3px solid white;
    height: 130px;
    vertical-align: top;
    background-color:#ECECEC;
    border-radius:10px;
}

.monthTd:hover{
	background-color:#D9EDF7;
};

/*----manager----*/


.tabRow{
	width:90%;
	margin-top:40px;
}

.tabItem{
	font-size:20px;
	width:200px;
}

.uplodeground{
	border: 1px solid gray;
	width: 80%;
	height: 400px;
	overflow: auto;
}

.uploadBtn{
	margin-top: 10px;
}

.uploadImg{
	margin-top: 150px;
	color: gray;
}

.uploadTd{
	height: 60px;
}

.searchErr{
	margin-top:30px;
	font-size: 30px;
	color:gray;
}

.searchTable{
	margin-top:20px;
	height: 250px;
	overflow: auto;
}

.btn-file {
  position: relative;
  overflow: hidden;
}

.btn-file input[type=file] {
  position: absolute;
  top: 0;
  right: 0;
  min-width: 100%;
  min-height: 100%;
  font-size: 100px;
  text-align: right;
  filter: alpha(opacity=0);
  opacity: 0;
  background: red;
  cursor: inherit;
  display: block;
}

input[readonly] {
  background-color: white !important;
  cursor: text !important;
}